header {
    background: LightSkyBlue;
    grid-area: header;
}

.item2 {
    background: LightSalmon;
    grid-area: advert;
}

.item3 {
    background: PaleTurquoise;
    grid-area: content;
}

.item4 {
    background: lightpink;
    grid-area: footer;
}

.App-Container {
    font-size: 1.5em;
    min-height: 300px;
    width: 100%;
    background: LightGray;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto 1fr auto;
    grid-gap: 10px;
    grid-template-areas:
      "header"
      "advert"
      "content"
      "footer";
}

@media (min-width: 300px){
    .App-Container{
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
        "advert header"
        "advert content"
        "advert footer";
    }
}

@media (min-width: 400px){
    .App-Container{
        grid-template-areas:
            /* Only change code below this line */
                "header header"
                "advert content"
                "footer footer";
        /* Only change code above this line */
    }
}