header {
    display: flex;
    flex-direction: row;
    background-color: #282c34;
    min-height: 10vh;
    align-items: center; /* Vertical justification*/
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
}

header .profile-pic{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    border-color: white;
    padding: 10px;
}

header .title {
}

header .united-badge {
    width: 100px;
    padding: 10px;
}

#box-container {
    height: 500px;
    display: flex;
    flex-direction: row
}

#box-1 {
    background-color: black;
    height: 100%;
    flex: 1 1 15%;
}

#box-2 {
    background-color: darkorange;
    height: 100%;
    flex: 1 1 85%;
}