header {
    background: LightSkyBlue;
    grid-area: header;
}

.item2 {
    background: LightSalmon;
    grid-area: advert;
}

.item3 {
    background: PaleTurquoise;
    grid-area: content;
}

.item4 {
    background: lightpink;
    grid-area: footer;
}

.App-Container {
    font-size: 1.5em;
    min-height: 300px;
    width: 100%;
    background: LightGray;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 50px auto 1fr auto;
    grid-gap: 10px;
    grid-template-areas:
        "advert header"
        "advert content"
        "advert content"
        "advert footer";
}

@media (min-width: 800px){
    .App-Container{
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
        "header header"
        "advert content"
        "advert content"
        "footer footer";
    }
}


@media (max-width: 800px){
    .App-Container{
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
        "header header"
        "advert advert"
        "content content"
        "footer footer";
    }
}