header {
    background: LightSkyBlue;
    grid-area: header;
}

.topics-panel {
    background: LightSalmon;
    padding: 5px;
    grid-area: topics;
}

.main-panel {
    background: PaleTurquoise;
    grid-area: content;
}

.scrolling-panel {
    padding: 5px;
    background: blueviolet;
    grid-area: scroll;
}

.ads-panel {
    padding: 5px;
    background: LightSalmon;
    grid-area: adverts;
}

.footer {
    padding: 5px;
    background: lightpink;
    grid-area: footer;
}

.App-Container {
    font-size: 1.5em;
    min-height: 300px;
    width: 100%;
    background: LightGray;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 50px auto 1fr auto auto;
    grid-gap: 10px;
    grid-template-areas:
        "header header header"
        "scroll scroll scroll"
        "topics content adverts"
        "topics content adverts"
        "footer footer footer";
}

@media (min-width: 800px){
    .App-Container{
        grid-template-columns: auto 1fr auto ;
        grid-template-rows: auto 1fr auto auto auto;
        grid-template-areas:
        "header header header"
        "topics scroll scroll"
        "topics content adverts"
        "topics content adverts"
        "footer footer footer";
    }
}


@media (max-width: 800px){
    .App-Container{
        grid-template-columns: auto 1fr auto;
        grid-template-rows: auto 1fr auto auto auto;
        grid-template-areas:
        "header header header"
        "scroll scroll scroll"
        "topics topics topcis"
        "content content content"
        "adverts adverts adverts"
        "footer footer footer";
    }
}