.grid-container {
    font-size: 40px;
    width: 100%;
    background-color: darkorange;
    display: grid;
    text-align: center;
    align-content: space-evenly;
    justify-items: center;
    align-items: center;
    /* This snippet creates five columns.
    1st is as wide as its content,
    2nd is 50px,
    3rd is 10% of its container,
    and for the last two columns; the remaining space is divided into three sections,
    2 are allocated for the 4th column, and 1 for the 5th.
    grid-template-columns: auto 50px 10% 2fr 1fr;
    grid-template-rows: 100px 50px;
    */
    /* Make as many columns/rows as can fit the in the screen */
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(60px, 1fr));
    grid-gap: 10px 10px;
}

.grid-item {
    height: 100%;
    width: 100%;
}

.d1{
    background:#02111B;
    color: white;
}
.d2{
    background:#3F4045;
}
.d3{
    background:#30292F;
}
.d4{
    background:#5D737E;
}
.d5{
    background:#FCFCFC;
}
.d6{
    background:#3D348B;
}
.d7{
    background:#7678ED;
}
.d8{
    background:#F7B801;
}
.d9{
    background:#F35B04;
}