header{
    display: flex;
    flex-direction: row;
    background-color: black;
    min-height: 10vh;
    align-items: center; /* Vertical justification*/
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
}

.refuge-header-pic{
    height: 100px;
    padding: 10px;
    background: black;
}
.navigation-pic{
    height: 70px;
    padding: 1px;
    background: black;
}

.twitter-pic{
    height: 40px;
    padding: 1px;
    background: black;
}
.facebook-pic {
    height: 70px;
    padding: 1px;
    background: black;
}

.header-item {
    padding: 1px;
}