header{
    display: flex;
    flex-direction: row;
    background-color: #282c34;
    min-height: 10vh;
    align-items: center; /* Vertical justification*/
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
}

header .profile-pic{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    border-color: white;
    padding: 10px;
}

header .title {
}

header .united-badge {
    width: 100px;
    padding: 10px;
}